.wrapper-advantages {
    position: absolute;
    top: -400px;
}

.section-title--advantages {
    color: $primary-light-color;
    text-align: left;
    width: 140px;
    margin-bottom: 16px;
}

.advantages {
    position: relative;

    &__list {
        background-color: $primary-light-color;
        box-shadow: 4px 6.928px 15.54px 5.46px rgba(29, 29, 27, 0.04);
        padding: 20px 28px 24px 28px;

        &-item {
            width: 220px;

            &:nth-of-type(-n+5) {
                margin-bottom: 10px;
            }

            &-text {
                font-size: 13px;
                font-family: $norm700;
                color: $primary-dark-color;
                line-height: 20px;
                letter-spacing: 0.65px;
            }

            &-number {
                font-size: 14px;
                line-height: 29px;
                font-family: $norm500;
                color: $main-orange-color;
                text-align: left;
                padding-left: 34px;
                letter-spacing: 0.7px;
                position: relative;

                &::before {
                    @extend %pseudo;
                    background-color: $main-orange-color;
                    width: 26px;
                    height: 2px;
                    position: absolute;
                    left: 0;
                    top: 14px;
                }   
            }
        }
    }
}


@media (min-width: 768px) {
    .container {  
        width: 720px;
        padding: 0 16px;
    }

    .wrapper-advantages {
        top: -214px;
        width: 688px;
    }

    .section-title--advantages {
        font-size: 26px;
        line-height: 63px;
        letter-spacing: 1.3px;
        width: 350px;
        margin: auto;
        margin-bottom: 10px;
    }

    .advantages__list {
        padding: 26px 96px;
        display: flex;
        flex-wrap: wrap;

        &item {

            &-text {
                margin-bottom: 0;
            }
        }
    }

    .advantages__list-item:nth-of-type(odd) {
        margin-right: 52px;
    }
    
    .advantages__list-item:nth-of-type(-n+5) {
        margin-bottom: 0;
    }
    
    .advantages__list-item:nth-of-type(-n+4) {
        margin-bottom: 24px;
    } 
}


@media (min-width: 1280px) {
    .container {
       width: 1210px;
       padding: 0;
    }

    .section-title--advantages {
        font-size: 42px;
        line-height: 55px;
        letter-spacing: 2.1px;
        width: 564px;
        margin-bottom: 30px;
    }

    .wrapper-advantages {
        top: -422px;
        width: 1210px;
    }

    .advantages__list {
        padding: 50px 80px 50px 96px;

        &-item {
            width: 305px;

            &-number {
                font-size: 21px;
                letter-spacing: 1px;
            }

            &-text {
                font-size: 18px;
                line-height: 29px;
                letter-spacing: 0.9px;
            }
        }
    }

    .advantages__list-item:nth-of-type(-n+4) {
        margin-bottom: 0;
    }
    
    .advantages__list-item:nth-of-type(odd) {
        margin-right: 0;
    }
    
    .advantages__list-item:not(:nth-of-type(3n)) {
        margin-right: 52px;
    }

    .advantages__list-item:nth-of-type(-n+3) {
        margin-bottom: 36px;
    }
}

