.reviews {
  margin: 0 auto;
}

.reviews-wrap {
  margin: 0 auto;
}

.reviews {
  .container {
    position: relative;
  }
}

.reviews-title {
  font-size: 20px;
  font-family: 'Montserrat700';
  color: #111517;
  line-height: 1.327;
  padding: 46px 50px 0;
  margin: 0 auto;
  margin-bottom: 16px;
  text-align: center;
}

.reviews__card-student {
  width: 280px;
  padding: 0 28px 0;
  height: auto;
  background-color: #ffffff;
  box-shadow: 4px 6.928px 34.96px 11.04px #1d1d1b17;
  margin: 0 auto;
}

.reviews__card-student-photo {
  padding-top: 22px;
  margin: 0 auto;
  padding-bottom: 16px;
  width: 80px;
}

.reviews__card-student-social {
  width: 220px;
  height: 25px;
}

.reviews__card-student-name {
  font-size: 13px;
  font-family: 'Montserrat700';
  color: #ff6b08;
  line-height: 2.244;
  text-align: center;
  padding-top: 10px;
}

.reviews__card-student-learned {
  font-size: 11px;
  font-family: 'Montserrat500';
  color: #858585;
  line-height: 1.515;
  text-align: center;
  width: 225px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.reviews__card-student-message {
  font-size: 11px;
  font-family: 'Montserrat500';
  color: #18191d;
  line-height: 1.818;
  text-align: center;
  padding-bottom: 32px;
}

.reviews__card-student-message-continuation {
  display: none;
}

.reviews__card-student-message-link {
  display: inline;
  text-decoration: underline;
  color: #ff6b08;
}

.arrows {
  width: 270px;
  margin: 0 auto;
  padding: 44px 0 80px;
}

.arrows__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.left-arrows-reviews {
  position: relative;
  margin: 0 auto;
}

.left-arrows-reviews::before,
.left-arrows-reviews::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right: 0;
}

.left-arrows-reviews {
  width: 16px;
  height: 2px;
  background-color: #ff6b08;
}

.left-arrows-reviews::after {
  top: -2px;
  right: -5px;
  border-left-color: #ff6b08;
  border-width: 3px 0 3px 8px;
}

.right-arrows-reviews {
  position: relative;
  margin: 0 auto;
}

.right-arrows-reviews::before,
.right-arrows-reviews::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left: 0;
}

.right-arrows-reviews {
  width: 16px;
  height: 2px;
  background-color: #ff6b08;
}

.right-arrows-reviews::after {
  top: -2px;
  right: 13px;
  border-right-color: #ff6b08;
  border-width: 3px 8px 3px 0;
}

.reviews__cards-title {
  width: 184px;
  margin: 0 auto;
  position: absolute;
  display: block;
  content: '';
  bottom: 0;
  right: 0;
}

.reviews__cards-title-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__cards-title-list:nth-child(n + 4) {
  display: none;
}

.reviews__cards-title-list-student {
  width: 54px;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
