html {
<<<<<<< HEAD
    box-sizing: border-box;
    scroll-behavior: smooth;
=======
  box-sizing: border-box;
>>>>>>> eed394abe0ed808d8eac4bf76dea10d4e73d90d6
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.container {
<<<<<<< HEAD
    width: 280px;
    margin: 0 auto;
}
  

@media (min-width: 768px) {
  .container {  
      width: 688px;
  }
}
    
@media (min-width: 1280px) {
  .container {
      width: 1210px;
  }
}
=======
  width: 320px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1145px;
  }
}
>>>>>>> eed394abe0ed808d8eac4bf76dea10d4e73d90d6
