//colors

$primary-dark-color: #18191d;
$secondary-dark-color: #111517;

$primary-grey-color:  #b9b9b9;
$secondary-grey-color: #858585;

$primary-light-color: #ffffff;
$secondary-light-color: #fdfefe;

$main-orange-color: #ff6b08;

$primary-background-color: #f1f1f1;
$secondary-background-color: rgba(132, 132, 132, 0.502);
$tertiary-background-color: rgba(133, 133, 133, 0.4);

$primary-element-color: #546264;
$secondary-element-color: #bababa;

//fonts

$norm400: 'Montserrat400';
$norm500: 'Montserrat500';
$norm600: 'Montserrat600';
$norm700: 'Montserrat700';
$norm800: 'Montserrat800';

