//colors

$primary-dark-coor: #18191d;
$secondary-dark-color: #111517;

$primary-grey-color:  #b9b9b9;
$secondary-grey-color: #858585;

$primary-light-coor: #ffffff;
$secondary-light-color: #fdfefe;

$main-orange-coor: #ff6b08;

$background-color: #f1f1f1;

//fonts

$norm100: 'Montserrat100';
$norm200: 'Montserrat200';
$norm300: 'Montserrat300';
$norm400: 'Montserrat400';
$norm500: 'Montserrat500';
$norm600: 'Montserrat600';
$norm700: 'Montserrat700';
$norm800: 'Montserrat800';
$norm900: 'Montserrat900';

$it100: 'Montserrat100i';
$it200: 'Montserrat200i';
$it300: 'Montserrat300i';
$it400: 'Montserrat400i';
$it500: 'Montserrat500i';
$it600: 'Montserrat600i';
$it700: 'Montserrat700i';
$it800: 'Montserrat800i';
$it900: 'Montserrat900i';

